@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"]</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Change</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Create</a>
            }
        </dd>
        <dt>Interests:</dt>
        <dd>
            @foreach (var interest in Model.Interests)
            {
                @Html.DisplayFor(i => interest.Interest.Name)
                @if (interest != Model.Interests.Last())
                {
                    @Html.Encode(", ")
                }
            }

            @using (Html.BeginForm("ChangeInterest", "Manage", FormMethod.Post))
            {
                <select asp-items="@Model.InterestsList" name="interest"></select>
                <input type="submit" value="Add" name="type" class="btn btn-default" />
                <input type="submit" value="Remove" name="type" class="btn btn-default" />
            }
        </dd>
    </dl>
</div>
