@model IEnumerable<Microblog.Models.Post>

@{
    ViewData["Title"] = "Admin - List of posts";
}

<h2>List of all posts</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Excerpt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Excerpt)
                </td>
                <td>
                    <form asp-action="Toggle/@Html.Encode(item.ID)">
                        <div class="form-actions">
                            <input type="submit" value="Public" class="btn btn-default" style="background-color:@(item.Public ? "green" : "red")" /> |
                        </div>
                    </form>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>