@model Microblog.Models.HomeViewModels.HomeViewModel
@using Microsoft.AspNetCore.Identity
@using Microblog.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Microblog";
}

<h1>Welcome @UserManager.GetUserName(User)!</h1>

@if (SignInManager.IsSignedIn(User))
{
    <p>Displayed below are posts that are related to your interests. You can change your interests from the <a asp-controller="Manage" asp-action="Index">manage</a> menu!</p>
}
else
{
    <p>To see posts specific to your interests, please <a asp-controller="Account" asp-action="Login">log in</a>, or <a asp-controller="Account" asp-action="Register">register</a> an account!</p>
}

<h3>@Model.Title</h3>
<hr />

<p>Use @Html.Encode('@')username to search for posts by a specific user.</p>
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <input type="text" name="search" value="@Model.SearchTerm" />
    @Html.Encode("Filter by: ")<select asp-items="@Model.InterestsList" name="interest">
        <option selected="selected" value="0">All</option>
    </select>
    <input type="submit" name="all" value="Search" class="btn btn-default" />
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmptyPost.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmptyPost.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmptyPost.PostDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmptyPost.Excerpt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmptyPost.PostInterests)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PostsList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Excerpt)
                </td>
                <td>
                    @foreach (var interest in item.PostInterests)
                    {
                        @Html.DisplayFor(i => interest.Interest.Name)
                        @if (interest != item.PostInterests.Last())
                        {
                            @Html.Encode(", ")
                        }
                    }
                </td>
                <td>
                    <a asp-controller="Posts" asp-action="Details" asp-route-id="@item.ID">Read more...</a> |
                </td>
            </tr>
        }
    </tbody>
</table>